/* Ensure #root fills the entire device screen height */
#root {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: #655e5e;
    min-height: 100vh;
    margin: 0;
}

section .card-footer {
    position: relative;
}

section .card-footer a[data-title]:hover::after {
    background-color: rgb(238 227 232);
    border-radius: 25px;
    color: #000;
    content: attr(data-title);
    position: absolute;
    bottom: 50px;
    left: 0px;
    padding: 0.5rem;
    text-align: center;
}